#box2{
  
    width: 300px;
  height: 350px;
  background:  #f5f6f633;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  text-align: center;
  padding: 20px;

}
#xiugai{
    margin: 10px 20px;
}