#box1{
  
    width: 300px;
  height: 400px;
  background:  #f5f6f633;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  text-align: center;
  padding: 20px;


}
#denglu{
    margin: 10px 20px;
}
#zhuce{
    margin: 10px 20px;
}
body {
    width: 100%;
    height: 100%;
    background-image: url(./01-3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
